*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(30deg, #0abde3,#FC427B);
}
#main{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
#body{
    width: 70%;
    height: 500px;
  /* background-color: aliceblue; */
  display: flex;
 
 
}
#pro{
    width: 25%;
    height: 500px;
    background:aliceblue;
 border-radius: 20px;
 margin-right: 5%;
 box-shadow: 10px 10px 5px black;
}
#pro img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  padding: 10px;
  margin-left: 40px;
  margin-top: 20px;
}
#pro h3{
    font-size: 25px;
  text-align: center;
}
#pro span{
    font-weight: 200;
}
#pro p{
    text-align: center;
    background: #CAD3C8;
    border-radius: 20px;
    padding: 10px;
    width: 170px;
    margin-left: 20px;
}
#prp #icon{
    width: 150px;
}
#pro #icon img{
    width: 50px;
    height: 50px;
    margin: 0px;
    
}
#pro #det{
    width: 180px;
    height: auto;
    padding: 5px;
    margin-left: 20px;
    text-align: start;
    background:#CAD3C8;
    border-radius: 20px;
}
#pro #det p{
    background: none;
    text-align: start;
    margin-left: 7px;
}
#pro button{
    padding: 5px;
    background: green;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    width: 100px;
    margin-left: 60px;
    margin-top: 10px;
    cursor: pointer;

}
#details{
    width: 75%;
    height: 500px;
    background:aliceblue;
    border-radius: 20px;
}
#details header{
    width: 100%;
    height: 200px;
}
#details header h3{
    font-size: 25px;
    color: red;
    padding: 10px;
}
#details footer{
    width: 100%;
    height: 300px;
    background: #CAD3C8;
  padding: 3px;
  border-radius: 20px;
}
#details footer h2{
    padding: 10px;
    color: red;
}
#details footer  #g1{
  
    background: #fff;
}
#details footer  #g2{
   
    background: #fff;
}
#details footer  #g3{
   
    background:#fff;
}
#details footer  #g4{
  
    background: #fff;
}
#details footer main{
    width: 100%;
    
    display: grid;
    grid-template-rows: repeat(2,100px);
    grid-template-columns: repeat(2,320px);
    grid-gap: 10px; 
    margin-left: 13px;
    
}
 #g1 .fa-laptop{
    width: 10%;
    color: blue;
    font-size: 20px;
    text-align: center;

}